@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Generate an Annex IV Certificate";
}

<h2>Create Certificate</h2>
<p>Some test</p>

<a href="@Url.Action("Save", "CertGenerator")" class="btn btn-primary btn-large">Save Certificate</a>


