
@{
    ViewBag.Title = "Generate an Annex IV Certificate";
}

<h2>Generate an Annex IV Certificate</h2>
<p>In order to create a certificate you must add a consignor and consignee an then add pets you have created previously.</p>

<a href="@Url.Action("Create", "CertGenerator")" class="btn btn-primary btn-large">Create New Certificate</a>

